h1{
    color:rgb(182, 55, 182);
    font-size: 24px;
    text-align: center;
}
div#imagem {
    text-align: center;
}
body{
    background-color: rgb(253, 215, 222);
    background-image: url(Imagens/fundo-aquarela-gradiente-suave_87374-84.avif);
}
p, ol, ul{
    font-weight: bold;
}
h5#txt{
    font-size: 19px;
}
h3{
    color: rgb(141, 11, 141);
    font-size: 24px;
    text-align: center;
}
h2{
    color:rgb(141, 11, 141);
    font-size: 24px;
    text-align: center;
}
div#audio{
    text-align: center;
}
